@crosshair-code-generator:registry=https://gitlab.fantasia.dev/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
//gitlab.fantasia.dev/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}
